<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Modificar Recolección</title>
<link rel="stylesheet" type="text/css" href="../static/css/insert.css" th:href="@{/css/insert.css}" />

</head>
<body>
<h2>Modificar Recolección</h2>
<form method="post" th:action="@{/recolecciones/insertar}" th:object="${recoleccion}">
<input type="hidden" name="idrecoleccion" th:value="${recoleccion.idrecoleccion}">
<p>Temporada: <input type="number" th:field="*{temporada}" th:value="recoleccion.temporada" required >
<p>Cantidad: <input type="number" th:field="*{kilo}" th:value="recoleccion.kilo" required>
<p>Fecha Recolección: <input type="date" th:field="*{fecharecoleccion}" th:value="recoleccion.fecharecoleccion" required>

<p>Variedad: <select th:field="*{variedad}" required>
<option value="-1" disabled>Selecciona</option>
<option th:each="variedad: ${variedades}" th:value="${variedad.idvariedad}" th:text="${variedad.nombre}"></option>
</select>
<p>Finca: <select th:field="*{finca}" required>
<option value="-1" disabled>Selecciona</option>
<option th:each="finca: ${fincas}" th:value="${finca.idfinca}" th:text="${finca.denominacion}"></option>
</select>
<p>
<input type="submit" value="insertar" >

</form>
</body>
</html>