<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insertar Recolección</title>
<link rel="stylesheet" type="text/css" href="../static/css/insert.css" th:href="@{/css/insert.css}" />

</head>
<body>
<h2>Insertar Recolección</h2>
<form method="post" th:action="@{/recolecciones/insertar}" th:object="${recoleccion}">
<p>Temporada: <input type="number" th:field="*{temporada}" required>
<p>Cantidad: <input type="number" th:field="*{kilo}" required>
<p>Fecha Recolección: <input type="date" th:field="*{fecharecoleccion}" required>
<p>Variedad: <select th:field="*{variedad}" required>
<option value="-1" disabled>Selecciona</option>
<option th:each="variedad: ${variedades}" th:value="${variedad.idvariedad}" th:text="${variedad.nombre}"></option>
</select>
<p>Finca: <select th:field="*{finca}" required>
<option value="-1" disabled>Selecciona</option>
<option th:each="finca: ${fincas}" th:value="${finca.idfinca}" th:text="${finca.denominacion}"></option>
</select>
<p><input type="submit" value="insertar">
<p><a th:href="@{/recolecciones/recoleccionesmostrar}">Volver</a> 

</form>
</body>
</html>