<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Modificar Variedad</title>
<link rel="stylesheet" type="text/css" href="../static/css/insert.css" th:href="@{/css/insert.css}" />

</head>
<body>
<h2>Modificar Variedad</h2>
<form method="post" th:action="@{/variedades/insertar}" th:object="${variedad}">
<input type="hidden" name="idvariedad" th:value="${variedad.idvariedad}">
<p>Nombre: <input type="text" th:field="*{nombre}" th:value="variedad.nombre" required>
<p>
<input type="submit" value="insertar" >

</form>
</body>
</html>