<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CRUD VARIEDADES</title>
<link rel="stylesheet" type="text/css" href="../static/css/mostrar.css" th:href="@{/css/mostrar.css}" />
</head>
<body>
	<header><a class="opcion" th:href="@{/fincas/fincasmostrar}">Fincas</a><a class="opcion" th:href="@{/variedades/variedadesmostrar}">Variedades</a><a class="opcion" th:href="@{/recolecciones/recoleccionesmostrar}">Recolecciones</a><a class="opcion" th:href="@{/tratamientos/tratamientosmostrar}">Tratamientos</a></header>
	<div class="titulo"><h1>CRUD VARIEDADES</h1></div>
	<div class="tabla"><table>
		<tr>
			<th>Nombre</th>
		</tr>
		<tr th:each="variedad: ${variedades}">
			<td th:text="${variedad.nombre}" />
			
			<td><a th:href="@{/variedades/eliminar?(idvariedad=${variedad.idvariedad})}">Eliminar</a></td>
			<td><a th:href="@{/variedades/formmodificar?(idvariedad=${variedad.idvariedad})}">Modificar</a></td>
	</table></div>
	
<a th:href="@{/variedades/forminsertar}">Insertar variedad</a>
<p><a th:href="@{/salir}">Salir</a>
</body>
</html>