<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insertar Foto</title>
<link rel="stylesheet" type="text/css" href="../static/css/insert.css" th:href="@{/css/insert.css}" />

</head>
<body>
<h2>Insertar Foto</h2>
<form method="post" th:action="@{/fotos/insertar}" th:object="${foto}">
<p>Url: <input type="text" th:field="*{url}" required>
<p>Alias: <input type="text" th:field="*{alias}" required>
<p>Arbol: <select th:field="*{arbol}" required>
<option value="-1" disabled>Selecciona</option>
<option th:each="arbol: ${arboles}" th:value="${arbol.idarbol}" th:text="${arbol.ubicacion}"></option>
</select>
<p><input type="submit" value="insertar">
<p> Subir imágen <a href="https://imgur.com/" target="_blank">aquí</a>
</form>
<a th:href="@{/arboles/arbolfotos?(idarbol=${foto.arbol.idarbol})}">Volver</a>
</body>
</html>