<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CRUD FOTOS</title>
<link rel="stylesheet" type="text/css" href="../static/css/mostrar.css" th:href="@{/css/mostrar.css}" />

</head>
<body>
	<header><a class="opcion" th:href="@{/fincas/fincasmostrar}">Fincas</a><a class="opcion" th:href="@{/variedades/variedadesmostrar}">Variedades</a><a class="opcion" th:href="@{/recolecciones/recoleccionesmostrar}">Recolecciones</a><a class="opcion" th:href="@{/tratamientos/tratamientosmostrar}">Tratamientos</a></header>
	<div class="titulo"><h1>CRUD FOTOS</h1></div>
	<div class="tabla"><table>
		<tr>
			<th>Foto</th>
			<th>Url</th>
			<th>Alias</th>
			<th>Arbol Fila</th>
			<th>Arbol Columna</th>
			<th>Arbol Ubicacion</th>
		</tr>
		<tr th:each="foto: ${fotos}">
			<td><img alt="" th:src="${foto.url}"></td>
			<td th:text="${foto.url}" />
			<td th:text="${foto.alias}" />
			<td th:text="${foto.arbol.fila}" />
			<td th:text="${foto.arbol.columna}" />
			<td th:text="${foto.arbol.ubicacion}" />
			<td><a th:href="@{/fotos/eliminar?(idfoto=${foto.idfoto})}">Eliminar</a></td>
			<td><a th:href="@{/fotos/formmodificar?(idfoto=${foto.idfoto})}">Modificar</a></td>
	</table></div>
	
<a th:href="@{/fotos/forminsertar?(idarbol=${arbol.idarbol})}">Insertar foto</a>
<p><a th:href="@{/fincas/fincaarboles?(idfinca=${arbol.finca.idfinca})}">Volver</a> 
</body>
</html>