<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CRUD FINCAS</title>
<link rel="stylesheet" type="text/css" href="../static/css/plano.css" th:href="@{/css/plano.css}" />
<script th:src="@{/js/plano.js}"></script>
</head>
<body>
<header><a class="opcion" th:href="@{/fincas/fincasmostrar}">Fincas</a><a class="opcion" th:href="@{/variedades/variedadesmostrar}">Variedades</a><a class="opcion" th:href="@{/recolecciones/recoleccionesmostrar}">Recolecciones</a><a class="opcion" th:href="@{/tratamientos/tratamientosmostrar}">Tratamientos</a></header>	<div class="titulo"><h1>CRUD FINCAS</h1></div>
	<h1>
		Finca: <span th:text="${finca.denominacion}">finca</span>
	</h1>
	<div class="contenedor"></div>
	<p class="enlace">
		<a th:href="@{/fincas/fincasmostrar}">Volver</a> 
	</p>
</body>
</html>