<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insertar Arbol</title>
<link rel="stylesheet" type="text/css" href="../static/css/insert.css" th:href="@{/css/insert.css}" />

</head>
<body>
<h2>Insertar Arbol</h2>
<form method="post" th:action="@{/arboles/insertar}" th:object="${arbol}">
<p>Fila: <input type="number" th:field="*{fila}" required>
<p>Columna: <input type="number" th:field="*{columna}" required> 
<p>Ubicación: <input type="text" th:field="*{ubicacion}" required>
<p>Finca: <select th:field="*{finca}" required>
<option value="-1" disabled>Selecciona</option>
<option th:each="finca: ${fincas}" th:value="${finca.idfinca}" th:text="${finca.denominacion}"></option>
</select>
<p>Variedad: <select th:field="*{variedad}" required> 
<option value="-1" disabled>Selecciona</option>
<option th:each="variedad: ${variedades}" th:value="${variedad.idvariedad}" th:text="${variedad.nombre}"></option>
</select>
<p>Estado: <input type="text" th:field="*{estado}" required>
<p><input type="submit" value="insertar">

</form>
<a th:href="@{/fincas/fincaarboles?(idfinca=${arbol.finca.idfinca})}">Volver</a> 
</body>
</html>